div{
    background-color:blue;
    color:white;
    font-size: 20px;
}
body{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px;
    gap: 10px;
}
#head{
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 20px;
}
.box{
    padding: 20px;
}
#side{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
    padding: 20px;
}
#main{
    grid-column-start: 1;
    grid-column-end: 4;
}
#footer{
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 20px;
}